<div class="welcome">
	<div class="welcome-image">
		<img src="/images/feature.jpg" alt="crud-collage">
	</div>

	<div class="main-feature">
		<h1>CRUD-pedia</h1>
		<h2>Your resource for anything waste, garbage and trash.</h2>
		<h3>Create, Read, Update and Delete your favorite CRUD stories.</h3>
	</div>

	<div class="sign-up-button">
		<% if !user_signed_in? %>
			<%= link_to "Sign Up Now", new_user_registration_path, class: 'btn btn-lg btn-success' %>
		<% end %>
	</div>

	<div class="membership-feature">
		<div class="member-free">
			<h2>Free Plan</h2>
			<p>Create as many public trash stories as you want!</p>
		</div>
		<div class="member-premium">
			<h2>Premium Plan</h2>
			<p>Create private crud stories for only $15! Visit your profile to upgrade.</p>
		</div>
	</div>
</div>
