// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wiki-image {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
}

.wiki-item {
  padding: 1rem;
}
